.nav > li {
    text-align: center;
}

.ow-navigation .menu-icon a {
    text-align: center;
}

@media (min-width: 1200px) {
    .container {
        width: 1250px;
    }
}

body {
    font-family: "SF Pro SC", "SF Pro Text", "SF Pro Icons", "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.ftr_widget_about .ftr-cnt-detail p i {
    position: static;
}

.section-header h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 30px;
}

.venu-section .venu-image-block img {
    width: 172px;
    height: 129px;
}

/*介绍头像*/
.events-content .avatar {
    margin-top: 10px;
}

#history-section .img-block {
    background-size: 100%;
    background-repeat: no-repeat;
}